apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-pipeline
data:
  logstash.conf: |
    input {
      kafka {
        bootstrap_servers => "{{ .Values.kafka.bootstrapServers }}"
        topics => ["{{ .Values.kafka.topic }}"]
        codec => json
      }
    }

    filter {
      # Пример маскировки
      if [message] =~ /email/ {
        mutate { gsub => ["message", "[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}", "[redacted]"] }
      }
    }

    output {
      elasticsearch {
        hosts => ["{{ .Values.elasticsearch.url }}"]
        index => "bank-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }
