apiVersion: v1
kind: Service
metadata:
  name: zipkin
  namespace: {{ .Release.Namespace }}
  labels:
    app: zipkin
spec:
  type: {{ .Values.service.type }}
  selector:
    app: zipkin
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 9411
