apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  labels:
    grafana_datasource: "1"
data:
  datasource.yaml: |
    apiVersion: 1
    deleteDatasources:
      - name: Prometheus
        type: prometheus

    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: {{ .Values.prometheus.url | quote }}
        isDefault: true
        jsonData:
          timeInterval: "5s"
