apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: {{ .Release.Namespace }}
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    rule_files:
      - "/etc/prometheus/rules/*.yml"


    scrape_configs:
      - job_name: 'bank-services'
        metrics_path: /actuator/prometheus
        scheme: http
        static_configs:
          - targets:
            {{- range .Values.bankServices }}
              - "{{ .name }}.{{ $.Release.Namespace }}.svc.cluster.local:{{ .port }}"
            {{- end }}
