apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app: prometheus
spec:
  type: {{ .Values.service.type }}
  selector:
    app: prometheus
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 9090
