apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: postgres
  ports:
    - name: pg
      port: {{ .Values.port }}
      targetPort: {{ .Values.port }}
