replicaCount: 1

image:
  repository: quay.io/keycloak/keycloak
  tag: "26.2"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: keycloak.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}

env:
  KEYCLOAK_ADMIN: admin
  KEYCLOAK_ADMIN_PASSWORD: password
  KC_DB: dev-mem
  KC_HTTP_PORT: "8080"
  KC_FEATURES: token-exchange
  KC_HEALTH_ENABLED: "true"
  KC_METRICS_ENABLED: "true"
  KC_PROXY: edge
  KC_HOSTNAME: keycloak.local

volumeMounts:
  enabled: true
