apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "{{ .Values.env.ELASTICSEARCH_URL }}"
          ports:
            - containerPort: 5601
          resources:
{{ toYaml .Values.resources | indent 12 }}
