apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ .Release.Namespace }}
  labels:
    app: kafka
spec:
  type: {{ .Values.service.type }}
  selector:
    app: kafka
  ports:
    - name: kafka
      port: {{ .Values.service.port }}
      targetPort: 9092
