image:
  repository: "openzipkin/zipkin"
  tag: "3.4"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 9411

resources: {}
  # requests:
  #   cpu: 100m
  #   memory: 256Mi
  # limits:
  #   cpu: 500m
#   memory: 512Mi
